{% extends 'web_de_tragos\administracion\base.html' %}

{% block titulo %}Nueva Receta{% endblock%}

{% block contenido %}
<h1 class="mt-4">recetas</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Nueva receta</li>
</ol>


<div class="card">
    <div class="card-header">Creacion de receta</div>
    <div class="card-body">
        <form action="{% url 'recetas_nuevo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'web_de_tragos/administracion/form_campos.html' %}
        </form>
    </div>
</div>
{% endblock %}