{% extends './base.html' %}
    
{% block titulo %} Contact - Web de Tragos{% endblock titulo %}

{% block cabecera %}
    {% load static %}
    <header class="masthead" style="background-image: url({% static '/img/contact-bg.jpg'%})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <span class="subheading">Tienes preguntas? Aqui tenemos las respuestas.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock cabecera %}

{% block contenido %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                <div class="my-5">
                    <form action="{% url "contacto" %}" method="post">
                        {% csrf_token %}
                        {% for field in contacto_form %}
                        {% comment %} grid {% endcomment %}
                        <div class="form-floating" >
                            {{field}}
                            <label for="name"> {{field.label}} </label>
                        </div>
                        {% comment %} <table>
                            {{ contacto_form.as_table }}
                        </table>  {% endcomment %}
                        {% endfor %}
                        <input type="submit" value="Send" class="btn btn-primary text-uppercase disabled" style="margin-top:1rem; id="submitButton">
                    </form>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                {{ message }}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}
{% block javascript %}
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock javascript %}

