{% extends 'web_de_tragos\administracion\base.html' %}

{% block titulo %}TAMAÑOS{% endblock%}

{% block contenido %}
<h1 class="mt-4">Tamaños</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administración</a></li>
    <li class="breadcrumb-item active">Tamaños</li>
</ol>
<div class="col-md-6 mb-md-0 mb-6">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
<div class="card">
    <div class="card-body">
        <a name="" id="" class="btn btn-success" href="{% url 'tamaños_nuevo' %}" role="button"> <i class="fa-solid fa-circle-plus"></i> Nuevo</a>
        <!-- bs5-table-defaul -->
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>info</th>
                </tr>
            </thead>
            <tbody>
                {% for campo in tamaños %}
                    <tr>
                        <td>{{campo.nombre}}</td>
                        <td>{{campo.info_tamaño}}</td>
                        <td>
                            <a href="{% url 'tamaños_editar' tamaño.id %}" title="Editar" class="btn btn-warning"><i class="fas fa-pencil"></i></a>
                            <a href="{% url 'tamaños_eliminar' tamaño.id %}" title="Eliminar" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% comment %} <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#"><<</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">>></a></li>
                    </ul>
                  </nav>
            </div>
        </div> {% endcomment %}
    </div>
    <div class="card-footer text-muted">
        Footer tamaños
    </div>
</div>

{% endblock %}
    