{% extends "web_de_tragos/publica/base.html" %}{% load static %} {% block contenido %}{% if form.erros %}
<p style="color: red;">Están mal los datos, revisar</p>
{% endif %}
<center>
    <h3>Loguearse</h3>

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input class="btn btn-outline-dark" type="submit" value="Iniciar Sesión">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-dark" href="{% url 'inicio' %}">Volver</a>
    </form>
</center>{% endblock contenido %}