{% extends './base.html' %}
    
{% block cabecera %}
    {% load static %}
    <header class="masthead" style="background-image: url({% static '/img/tragos-bg.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Más de 30 tragos!!</h1>
                        <h2 class="subheading">Sorprendé a tus invitados</h2>                            
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock cabecera %}

{% block contenido %}

    <div>
        {% for trago in tragos %}

            <article class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h3> {{trago.nombre}} </h3>
                            <img src= "{{trago.imagen.url}}" alt="" height="450px">
                            <h4>Lo que necesitás</h4>
                            <textarea rows="6" cols="50"> {{trago.Ingredientes}} </textarea>
                            <h4>Preparación</h4>
                            <p> {{trago.preparacion}} </p>                        
                        </div>
                    </div>
                </div>
            </article>
            
        {% endfor %}
    </div>

{% endblock contenido %}
